-if !@success.nil?
  -if !@success
    =raw("<div class='alert alert-danger'><strong>Wystąpił co najmniej jeden błąd!</strong><br />"+@message+"</div>")

%h1
  Zapisywanie do koła

%h3
  1) Kolejny wpis czy nowy człowiek?
  %kbd#selected
%h4
  Zacznij wpisywać dane, jeśli system coś znajdzie kliknij w link po prawej, jeśli nie - dokończ uzupełnianie danych.
= render 'member_selector'

%h3
  2) Wybierz typ składki/rok akademicki
  %kbd#selectedPeriod
= render 'enroll_selector'

%h3
  3)
  %button{onClick: "$('#step3').submit()"}
    Zapisz
