%h1.center Eksperymentalne i nieużywane
%br
%ul
  %li
    = link_to "Księgozbiór", books_path
  %li
    = link_to "Wypożyczenia", book_leases_path
  %li
    = link_to "Finanse", book_keep_records_path
