.v3{
  body, html{
    background: #004080;
    color: white;
  }
  #navbar {
    background: #001a33;
    border: 0;
  }
  .navbar-brand img{
    margin-top: -14px;
  }
  .navbar-brand a:hover{
    background:none !important;
  }

  a{
    color: silver !important;
  }
  a:hover{
    color: #001a33 !important;
    background: silver !important;
  }
}
