.v3{
  body, html, input, option, select{
    background: #004080;
    color: white;
  }
  input, option, button{
    border: 1px solid silver;
  }
  #navbar {
    background: #001a33;
    border: 0;
  }
  .navbar-brand img{
    margin-top: -14px;
  }
  .navbar-brand a:hover{
    background:none !important;
  }

  a{
    color: silver !important;
  }
  a:hover, option, button{
    color: #001a33 !important;
    background: silver !important;
  }

  .oplacona{
    color: #2f2;
  }
  .nieoplacona{
    background: #f66;

  }

}
