%h1
  Centrum tabelek i kwerend na członkach

%ul
  %li
    %a{ :href => "/members-admin/mailing" }
      Lista maili do wysyłki
  %li
    %a{ :href => "/members-admin/current" }
      Członkowie z bieżącej kadencji (dopuszczeni do zamka)
  %li
    %a{ :href => "/members-admin/all" }
      Wszyscy członkowie od początku
